@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --blue: #112938;
  --white: #d0efff;
  --yellow: #F0FF42;
  --orange: #ff935d;
  --grey: #9fb677;
  --pink: 	#dda492;
  --red: #a43a3f;
  --dark-red: 	#5d2031;
  --green: 	#367E18;
  --dark-green: 	#379237	;
  --light-green: #1ed484;
  --blue2:#0e4b5e;
  --blue3:#0c798d;
  --blue4: #08b4c2;
  --blue5: #03fbf4;
}



*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: var(--blue);
  color: var(--white);
}

/* INPUT */

input[type=text], input[type=email], input[type=mobile], input[type=date], input[type=number], select, textarea {
  padding:10px;
  border: 3px solid var(--blue2);
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
  width: 70%;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--blue4);
}

/* BUTTON */

button {
  background-image: linear-gradient(-180deg, var(--blue3) 0%, var(--blue4) 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 50%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: center;
}

button:hover {
  background-image: linear-gradient(-180deg, var(--blue4) 0%, var(--blue3) 100%);
}

/* FIELDSET */

fieldset {
  padding: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 5px;
  line-height: 3rem;
}

/* LINK */

a {
  text-decoration: none;
}

a:hover {
  color: var(--blue4);
}

.fa-icon:hover {
  cursor: pointer;
}

/* TOOLTIP */

/*  */

.tooltip {
  position: relative;
  display: inline-block;
  background: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--blue3);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: .5rem;
  
  /* Position the tooltip */
  position: absolute;
  top: 5.5rem;
  left: -1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* PANEL */

.panel {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  width: 90%;
  color: var(--blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--white);
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient( var(--blue2), var(--blue));
 color: var(--white);
}

/* TABLE */

th {
  text-align: center;
}

/* MEDIA */

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

